#background {
  background: linear-gradient(rgb(31, 31, 33), rgb(13, 29, 46));
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  color: rgb(223, 230, 238);
}

a {
  color: rgb(198, 189, 187);
  font-weight: 600;
}